body{
    margin: 0px;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif, Arial;
}
hr{
    height: 2px;
    background-color: gray;
    border-color: gray;
}
button{
    background-color: #0b5ed7;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
code{
    word-wrap: break-word;
}
button:hover{
    background-color: #0d50b4;
    color: white;
}
.top-container{
    margin: auto;
    margin-top: 100px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.logo{
    box-shadow: 0px 0px 30px rgb(153, 153, 153);
}
.section_1{
    width: 80%;
    margin: auto;
    background: linear-gradient(to bottom, rgb(29, 29, 29), #0d1117);
    padding: 10px;
    border-radius: 10px;
}
.section_1 img{
    float: right;
    width: 70px;
}
.section_2{
    width: 50%;
    margin: auto;
    background: linear-gradient(to bottom, rgb(29, 29, 29), #0d1117);
    padding: 10px;
    border-radius: 10px;
}
.section_2 img{
    float: right;
    width: 90px;
    border-radius: 100px;
}
.app{
    background: linear-gradient(to bottom, rgb(29, 29, 29), #0d1117);
    width: 200px;
    padding: 2px;
    border-radius: 10px;
}
.app img{
    width: 60px;
    margin-right: 5px;
    float: right;
}
.app button{
    background-color: #0b5ed7;
    border: none;
    color: white;
    padding: 10px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.app h3{
    margin: 0px;
}
.app_container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.code-block{
    width: 80%;
    margin: auto;
    background: linear-gradient(to bottom, rgb(29, 29, 29), #0d1117);
    padding: 10px;
    border-radius: 10px;
}
.center_button{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}
@media screen and (min-width: 935px){
    .top-container{
        width: 50%;
    }
    .section_1{
        width: 50%;
    }
    .app_container{
        width: 50%;
    }
    .code-block{
        width: 50%;
    }
    .section_2{
        width: 40%;
    }
}
@media screen and (max-width: 750px){
    .top-container{
        width: 90%;
    }
    .section_1{
        width: 90%;
    }
    .app_container{
        width: 90%;
    }
    .app_container img{
        display: none;
    }
    .app{
        width: 150px
    }
    .code-block{
        width: 90%;
    }
    .section_2{
        width: 90%;
    }
    .section_1 img{
        width: 80px;
    }
}
@media screen and (max-width: 360px){
    .section_2 h2{
        font-size: 15px;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 420px){
    .top-container img{
        width: 100px;
        border-radius: 10px;
    }
}